@import "tailwindcss";
@theme {
     /* theme  */
     --color-sky-slate-500: #e7fafe;
     --color-sky-slate-100: #dbedf1;
     --color-breakfast-color: #ebebe8;
     --color-vegan-color: #f8fcf6;
     --color-meat-color: #fcf4f3;
     --color-dessert-color: #fef6e8;
     --color-linea-top: #e7f9fd00;
     --color-linea-bottom: #e7f9fd;
}
